<!DOCTYPE html>
	<html ng-app="MyApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/jpg" href="/content/images/SRL.ico" />
		<link rel="stylesheet" href="/content/css/correos.css">
		<link rel="stylesheet" href="/content/css/bootstrap_4_1_3.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="/content/css/angular-moment-picker.css" />
		<title>Reporte correos</title>
	</head>
	<div class="general-container">
			<div class="report-container">
				<div class="report-main-window">
					<div class="report-main-window-header">
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Usuario:" ng-model="filtroCorreoRemote"/>
							<button class="btn btn-sm btn-search" search-emails-remote><i class="fas fa-search"></i></button>
						</div>
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Asunto:" ng-model="filtroCorreoAsunto" />
							<button class="btn btn-sm btn-search" search-emails-subject><i class="fas fa-search"></i></button>
						</div>
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Calificacion:" ng-model="filtroCorreoWrapup" />
							<button class="btn btn-sm btn-search"><i class="fas fa-search"></i></button>
						</div>
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Fecha inicio:" ng-model="filtroCorreoFechaI" />
							<button class="btn btn-sm btn-search"><i class="fas fa-search"></i></button>
						</div>
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Fecha final:" ng-model="filtroCorreoFechaF" />
							<button class="btn btn-sm btn-search"><i class="fas fa-search"></i></button>
						</div>
						<div class="input-group">
							<input type="text" class="form-control form-control-sm" placeholder="Notas:" ng-model="filtroCorreoNotas" />
							<button class="btn btn-sm btn-search"><i class="fas fa-search"></i></button>
						</div>
						<div>
							<a class="correo-sections pt-2" href="" ng-click="obtenerConteoEmails()">
								<i class="fa fa-sync-alt pr-2"></i>
							</a>
						</div>
					</div>
					<div class="correos-container my-row" ng-repeat="x in conversations | filter:{calificacion:filtroCorreoWrapup} | filter:{fechaFinal:filtroCorreoFechaF} | filter:{nota:filtroCorreoNotas} |  orderBy:'-fechaInicial'">
						<div>
							<div title="{{x.remote}}">
								<i class="fas fa-arrow-right pr-2 ml-2 text-success" title="Entrante" ng-show="x.direccion == 'inbound'"></i>
								<i class="fas fa-arrow-left pr-2 ml-2 text-primary" title="Saliente" ng-show="x.direccion == 'outbound'"></i>
								{{x.remote | limitTo: 40}}
							</div>
						</div>
						<div title="{{x.asunto}}">{{x.asunto | limitTo:60}}</div>
						<div>{{x.calificacion}}</div>
						<div>{{x.fechaInicial}}</div>
						<div>{{x.fechaFinal}}</div>
						<div title="{{x.nota}}">{{x.nota}}</div>
						<div class="correos-call-to-action">
							<div><a href="" title="Copiar link de conversacion" target="_top" get-link ng-model="x.conversationId"><i class="fas fa-copy"></i></a></div>
							<div><a href="" title="Ver contenido" show-modal><i class="fa fa-eye"></i></a></div>
							<div><a href="" title="Responder" reply-email><i class="fas fa-reply"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="navigation">
				<nav class="justify-content-end">
					<ul class="pagination">
						<li class="page-item" ng-class="{'disabled': pages.length == 1}">
							<a class="page-link" href="#" subtract-page>Anterior</a>
						</li>
						<li class="page-item" ng-class="{'active': currentPage == t}" ng-repeat="t in pages">
							<a class="page-link" href="#" change-page>{{t}}</a>
						</li>
						<li class="page-item" ng-class="{'disabled': pages.length == 1}">
							<a class="page-link" href="#" add-page>Siguiente</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="modal fade" id="contentModal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							Detalles
						</h5>
						<button type="button" class="close" data-dismiss="modal">
							<i class="fa fa-times"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="email-message-block" ng-repeat="x in curEmailMessages | orderBy:'-time'">
							<div><strong>De:</strong> {{x.from.email}}</div>
							<div><strong>Enviado:</strong>{{x.fecha}}</div>
							<div><strong>Para:</strong> {{x.to[0].email}}</div>
							<div><strong>Asunto:</strong> {{x.subject}}</div>
							<div class="attachments-container">
								<span ng-repeat="a in x.attachments" class="pr-2"><a href="{{a.contentUri}}">{{a.name}}</a></span>
							</div>
							<div class="textBody">
								{{x.textBody || x.convertedText}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/scripts/angular_1_7_7.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/scripts/jquery_3_3_1.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/scripts/popper_1_14_3.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/scripts/bootstrap_4_1_3.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/scripts/moment_2_24_0.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/appCorreos.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/app/controllers/controllerCorreos.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/app/services/servicesCorreos.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/app/directives/directivesCorreos.js" type="text/javascript" charset="UTF-8"></script>
		<script src="/app/filters/filtersCorreos.js" type="text/javascript" charset="UTF-8"></script>
		<script src="https://sdk-cdn.mypurecloud.com/javascript/40.1.0/purecloud-platform-client-v2.min.js"></script>
	</body>
</html>
